.container{
    width:100%;
    display:flex;
    justify-content: space-between;

}
body{
    background-color:black;
}
img{
    height:120px;
    width:250px;
    margin-bottom: 20px;
}
.btn{
    margin-right:20px ;
    height:100px ;
    width: 300px; 
    margin-top: 30px;

}
button{
    height:50px ;
    width: 120px;
    margin-left:3px ;
    border: 2px;
    background-color: red;
    color:white;
    font-size:larger;
    border-radius: 3px;


}
select{
    height: 50px;
    width:120px ;
    font-size:larger;
    border-radius: 10px;
    padding: 10px;
}
.section1{
    background-image:url(./movie/hero-background-images.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-size: 25px;
}
.hero{
    display: flex;
    justify-content: center;
}
.hero-section{
    align-items: center;
}
.hello{
    display: flex;
    justify-content: center;
    margin: 10px;
}
input{
    border:2px solid white;
    border-radius: 3px;
    background-color:black;
    color:white;
    opacity: 0.5;
    font-size: 20px;
    padding-left:5px ;
    width: 100%;
}
              




 /* section2-- */
 .section2{
background-color: black;
 }
#btn1{
width: 30%;
margin-left:8px;

}


h2{
color:white;
margin-left: 40px;
margin-top: 0px;
}
.scrol-movie{ 
    display: flex;
    margin-top: 20px;
    overflow: auto;

}
#mr{
    margin-inline:12px;
    height: 300px;
    width: 200px;
    border-radius:10px;

}
.btn2{
    margin-left:  40px;
}
.btn2 select{
    margin-right:10px;
}



/* section3 */

.box{
display:flex;
justify-content: space-between;
flex-direction: column;
}
.fun{
    display:flex;
    justify-content: space-evenly;


    
}
.box1{

    background-color: #1F1426;
    height: 300px;
    width:  300px;
    border-radius: 12px;

    
}
.box2{
    background-color: #1F1426;
    height: 300px;
    width:  300px;
    border-radius: 12px;
}
.box3{
    background-color: #1F1426;
    height: 300px;
    width:  300px;
    border-radius: 12px;

}
.box4{
    background-color: #1F1426;
    height: 300px;
    width:  300px;
    border-radius: 12px;
}
.box span{
    color: white;
    margin-left:50px;
font-size:24px ;
margin-block: 15px;
}
.fun span{
    font-size: 25px;
text-align: start;
}
.fun p{
    font-size: 20px;
    text-align: start;
}
.box1,.box2,.box3,.box4{
    padding: 10px;
    margin-inline: 10px;
}
svg{
    margin-left: 200px;
    margin-top:80px;
}